<% if @artist %>
  <div id="content">

  <div class="image-container"><img src="<%= @artist.images.find{ |img| img["height"] <= 400}["url"] %>"></img></div>
  <h1>Artist: <%= @artist.name %></h1>
  <h2>Followers: <%= number_with_delimiter(@artist.followers["total"], :delimiter => ',') %></h2>
  <% unless @artist.genres.empty? %>
    <h2>Genres: <%= @artist.genres.join(", ") %></h2>
  <% end %>
  <h3><%= link_to 'Favorite this artist', new_artist_path(:artist_name => @artist.name,
  :artist_url => @artist.external_urls.values[0], :artist_followers => @artist.followers["total"])  %></h3>
  <h3><%= link_to 'See artist on Spotify', @artist.external_urls.values[0] %></h3>

  </div>
<% end %>
