<!DOCTYPE html>
<html>
  <head>
    <title>Charlotte</title>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
    <%= analytics_init if Rails.env.production? %>
  </head>
  <body>
    <% if content_for?(:welcome_header) %>
    <%= yield(:welcome_header) %>
    <% else %>
    <%= render :partial => "layouts/header" %>
    <% end %>
    <%= render 'flash_messages' %>
    <%= yield %>
  </body>
  <footer>
    <%= render 'layouts/footer' %>
  </footer>
</html>
